<main class="courses-container">
    <h2 class="courses-title">📚 All Courses</h2>
    @if(!isStudent) {
    <button mat-raised-button color="primary" (click)="openAddCourseModal()">
        Add Course
    </button>
    }
    @if (courses && courses.length > 0) {
    <mat-list #allCourses>
        @for (course of courses; track course.id) {
        <mat-list-item class="course-item">
            <a [routerLink]="['/courses', course.id]" course=[course] class="course-link">
                <mat-card class="course-card">
                    <mat-card-header>

                        <mat-card-title class="course-title" style="padding-top: 8px;">{{ course.title
                            }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ course.description }}</p>
                        <p><strong>Teacher ID:</strong> {{ course.teacherId }}</p>
                    </mat-card-content>
                </mat-card>
            </a>
            @if(isStudent) {
            <div class="course-actions">
                <button mat-raised-button [color]="isEnrolled(course.id) ? 'warn' : 'primary'"
                    (click)="isEnrolled(course.id) ? leave(course.id) : enroll(course.id)">
                    {{ isEnrolled(course.id) ? 'Leave Course' : 'Join Course' }}
                </button>
            </div>}
            @else {
            <div class="course-actions">
                <button mat-raised-button color="warn" (click)="deleteCourse(course.id)">
                    Delete
                </button>
                <button mat-raised-button color="primary" (click)="openEditCourseModal(course)">
                    Edit
                </button>
            </div>
            }

        </mat-list-item>
        }
        @empty {
        <p class="no-courses">No courses available.</p>
        }
    </mat-list>
    }
</main>