<mat-card>
    <h2>{{ isLoginMode ? 'Login' : 'Register' }}</h2>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

        @if (!isLoginMode) {
        <mat-form-field appearance="fill">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="name" required />
            @if (authForm.get('name')?.hasError('required')) {
            <mat-error>
                This field is required
            </mat-error>
            }
        </mat-form-field>
        }

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required />
            @if (authForm.get('email')?.hasError('required')) {
            <mat-error>
                This field is required
            </mat-error>
            }
            @if (authForm.get('email')?.hasError('email')) {
            <mat-error>
                Please enter a valid email address
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required />
            @if (authForm.get('password')?.hasError('required')) {
            <mat-error>
                This field is required
            </mat-error>
            }
            @if (authForm.get('password')?.hasError('minlength')) {
            <mat-error>
                Password must be at least 6 characters long
            </mat-error>
            }
        </mat-form-field>

        @if (!isLoginMode) {
        <mat-form-field>
            <mat-label>Select Role</mat-label>
            <!-- <mat-select> -->
            <mat-select formControlName="role">
                <mat-option value="student">Student</mat-option>
                <mat-option value="teacher">Teacher</mat-option>
                <mat-option value="admin">Admin</mat-option>
            </mat-select>
            @if (authForm.get('role')?.hasError('required')) {
            <mat-error>
                Please select a role
            </mat-error>
            }
        </mat-form-field>}
        <a [routerLink]="['/courses']">
            <button mat-raised-button color="primary" type="submit" [disabled]="authForm.invalid">
                {{ isLoginMode ? 'Login' : 'Register' }}
            </button>
        </a>
    </form>
    <button mat-button (click)="onSwitchMode()">
        {{ isLoginMode ? "Don't have an account? Sign up here" : 'Already have an account? Log in here' }}
    </button>
</mat-card>